.bg-primary.shadow {
  height: auto;
}

.mensaje-bot {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: solid 0.03rem;
  border-radius: 18px;
  border-bottom-right-radius: 4px;
}

.mensaje-user {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 18px;
  border-bottom-left-radius: 4px;
}

.chat {
  width: 360px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 20px;
  z-index: 9999999;
}

.contenido-chat {
  height: 100%;
  position: relative;
  width: 100%;
}

.cabecera-chat {
  width: 100%;
  padding: 10px;
}

.contenido-msg-chat {
  height: 100%;
  animation: minimizar .2s linear 1;
  /*animation-fill-mode: forwards;*/
}
@keyframes minimizar {
  0% {
    /*transform: scale(0);*/
    transform: scaleY(0);
    height: 0px;
    /*opacity: 0;*/
  }
  100% {
    /*transform: scale(1);*/
    transform: scaleY(1);
    height: 300px; 
    /*opacity: 1;*/
  }
}

.input-chat {
  height: 60px;
}

.mensajes-chat {
  overflow-y: scroll;
  max-height: 350px;
}

.q-freq {
  width: 100%;
  position: absolute;
  bottom: 100%;
}

#preg-frecuentes{
  margin: 2%;
}
#icon-preg-frecuentes{
  display: inline;
}


